name: http-server

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./backend:/app
    environment:
      - HOST=0.0.0.0
      - BACKEND_PORT=8000
    ports:
      - "8000:8000"
    init: True
    command: /bin/sh -c "./scripts/sync.sh && ./scripts/run.sh"